.glare-title {
  position: relative;
  display: inline-block;
  background-image: linear-gradient(90deg, #ffffff40 0%, #ffffff90 50%, #ffffff40 100%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: glare 5s ease-in-out infinite;
  mask-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  -webkit-mask-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  mask-size: 200% auto;
  mask-repeat: no-repeat;
  mask-position: 200% 0;
  -webkit-mask-size: 200% auto;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 200% 0;
}

@keyframes glare {
  0% {
    mask-position: 200% 0;
    -webkit-mask-position: 200% 0;
  }
  45% {
    mask-position: 0% 0;
    -webkit-mask-position: 0% 0;
  }
  55% {
    mask-position: 0% 0;
    -webkit-mask-position: 0% 0;
  }
  100% {
    mask-position: 200% 0;
    -webkit-mask-position: 200% 0;
  }
}
